.key{ class: key }
  .letter_name
    - if key != :black
      = key.capitalize
  - notes_for_key = @grouped_notes[note_number]
  - if notes_for_key.present?
    - notes_for_key.each do |note|
      .note{ style: "left: #{note.left_pixels}px; width: #{note.width_pixels}px" }
