#landing_page
  %section#top
    %h1
      %span.color><
        Color
      %span.roll Roll

      Notation
    %h2 By Vic Ramon
  %section#song_select
    .title Select a Song

    .song_list
      - @files.in_groups(3).each do |group|
        .song_column
          - group.each do |file|
            - if file.present?
              .song
                = link_to file[:name], song_path(file: file[:path])
