*
  padding: 0
  margin: 0

body
  font-family: "Roboto"
  font-size: 15px

header
  text-align: center
  padding-top: 14px
  padding-bottom: 18px
  .title
    font-size: 20px
    font-weight: 400
  .author
    padding-top: 5px
    font-weight: 200
    font-size: 14px

.color_legend
  position: absolute
  top: 7px
  left: 2.5%
  img
    height: 70px

.roll
  width: 95%
  border: 1px solid #646464
  height: 704px // 88 * 8
  margin: 0 auto
  overflow-x: scroll
  overflow-y: hidden
  position: relative
  .measure
    position: absolute
    border-right: 1px solid #A3A3A3 // #5E5E5E
    width: 1px
    height: 100%
    z-index: 200
  .key
    font-size: 10px
    height: 8px
    position: relative
    right: 0
    box-sizing: border-box
    &.black
      background: #E2E2E2
    &.b, &.e
      top: 1px
    &.c, &.f
      top: -1px
    &.c
      // background: #FEFDD6
      border-bottom: 1px solid #818181
    .letter_name
      position: absolute
      display: inline-block
      top: -2px
      left: -10px
    .note
      height: 100%
      position: absolute
      border-radius: 3px
      z-index: 100
      box-sizing: border-box
